version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"    
    commit-message:
      prefix: "ci"
      include: "scope"
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"    
    commit-message:
      prefix: "build"
      include: "scope"
    groups:
      dependencies:
        patterns:
          - "*"
