version: 2
updates:
  # GitHub Actions dependencies
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    assignees:
      - "theqeeqez"
    commit-message:
      prefix: "ci"
      include: "scope"

  # Rust dependencies
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    assignees:
      - "theqeeqez"
    commit-message:
      prefix: "build"
      include: "scope"
